.services{
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.services ul{
    padding: 0px;
    margin: 0px;
	
}


.services ul li{
	float: left;
    list-style: none;
    width: 195px;
    height:195px;
    background-image: radial-gradient( #1d1d1d 15%, #101010 60%);
    margin :150px 50px 20px 50px; 
    border:2px solid #414141;
    box-sizing: border-box;

}
.services ul li p {
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

